<div class="container partial">
		
	<h1>Your Bookshelf</h1>
	<hr>
	

		<% @books.each_slice(4) do |four_books| %>
			<div class="row">
				<% four_books.each do |book| %>
			    <div class="single-book col-sm-3">
			     <div class="row delete-button">
			      <%= link_to '<i class="fa fa-times"></i>'.html_safe, book_path(book),
			              method: :delete,
			              data: { confirm: 'Are you sure?' } %>
			      </div>
			    	<img class="img-rounded" src="<%= book.cover %>">
			      <br><%= link_to book.title, book_path(book), :class => "trial" %>
			      <br><%= book.author %>

			    </div>
		    <% end %>
	    </div>
	  <% end %>

	


</div>